{% extends "base.html" %}

{% block title %}
Password Reset Successful
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h4 class="mb-0">Password Reset Successful</h4>
                </div>
                <div class="card-body">
                    <p>Your password has been successfully reset. You can now <a href="{% url 'account_login' %}" class="text-primary">log in</a> with your new password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
