<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="text-center my-4">
    <h1>Welcome to ModelChat!</h1>
    <p>Engage in real-time conversations with AI-driven models.</p>
</div>

<div class="card">
    <div class="card-header">
        Saras Digital Persona - 
        {% if user.user_type == "MODEL" %}
        <p>You are logged in as a Model.</p>
        <!-- Content specific to models goes here -->
        {% elif user.user_type == "FAN" %}
            <p>You are logged in as a Fan.</p>
            <!-- Content specific to fans goes here -->
        {% else %}
            <p>Welcome to the platform!</p>
        {% endif %}
    </div>
    <div class="card-body" id="chat-box" style="height: 300px; overflow-y: scroll;">
        {% for message in messages %}
        {% if message.sender == request.user %}
            <div class="mb-2"><strong>You:</strong> {{ message.content }}</div>
        {% else %}
            <div class="mb-2 text-primary"><strong>Sara:</strong> {{ message.content }}</div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="card-footer">
        <div class="input-group">
            <textarea id="message-input" rows="3" class="form-control" placeholder="Type your message..."></textarea>
            <button id="send-button" class="btn btn-primary">Send</button>
        </div>
    </div>
</div>

<input type="hidden" id="csrf-token" value="{% csrf_token %}">
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('send-button').addEventListener('click', function() {
        // Get the CSRF token from the hidden input field
        var csrfToken = document.getElementById('csrf-token').value;
        var messageInput = document.getElementById('message-input');
        var userMessage = messageInput.value;

        // Send the user message to your Django server for processing with GPT
        console.log("Sending data:", { message: userMessage });  // Debug print
        fetch('/api/process_message/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken, // Include the CSRF token in the headers
            },
            body: JSON.stringify({ message: userMessage }),
        })
        .then(response => response.json())
        .then(data => {
            // Append the received message to the chat box
            var chatBox = document.getElementById('chat-box');
            chatBox.innerHTML += '<div class="mb-2"><strong>User:</strong> ' + userMessage + '</div>';
            chatBox.innerHTML += '<div class="mb-2 text-primary"><strong>Sara:</strong> ' + data.message + '</div>';

            // Clear the message input field
            messageInput.value = '';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}
